### __BUSA3020 Group Assignment - Predicting Airbnb Listing Prices in Sydney__

--- 

**Due Date:** Friday, 3 June 2022 @ 11.59pm (Week 13)

**Overview:**   

- In the group assignment you will form a team of up to 3 students (minimum 2) and participate in a forecasting competition on Kaggle
- The goal is to predict listed property prices of Airbnb stays based on various Airbnb characteristics and regression models

- You will:  
    - Write a problem statement and perform Exploratory Data Analysis  
    - Clean up data, deal with categorical features and missing observations, and create new variables (feature engineering)  
    - Construct and tune forecasting models, produce forecasts and submit your predictions to Kaggle  
    - Each member of the team will record a video presentation of their work  
    - Marks will be awarded producing a prediction in the top 3 positions of their unit as well as for reaching the highest ranking on Kaggle amongst all teams.

**Instructions:** 

- Form a team of 3 students (minimum 2 students)  
- Each team member needs to join [https://www.kaggle.com](https://www.kaggle.com/)  
- Choose a team leader and form a team in the competition [https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19](https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19)
    - Team leader to click on `team` and join and invite other team members to join
    - There are two MQBS BUSA units competing in this competition
    - Your **team's name must start** with your unit code, for instance you could have a team called BUSA3020_PR3D1CT0RS
- All team members should work on all the tasks listed below however   
    - **Choose a team member who will be responsible for one of each of the 3 tasks listed below**

**Marks**: 

- Total Marks: 40
- Your mark will consist of:  
    - 50% x overall assignment mark + 45% x mark for the task that you are responsible for + 5% x mark received from your teammates for your effort in group work 
- 7 marks will be deducted from each Task for which there is no video presentation

**Competition Marks:**
- 5 marks: Ranking in the top 3 places of your unit on Kaggle (make sure you name your team as instructed above)
- 2 marks: Reaching the first place in your unit  (make sure you name your team as instructed above)


**Submissions:**  

1. On Kaggle: submit your team's forecast in order to be ranked by Kaggle
    - Can do this as many times as necessary while building their model  
2. On iLearn **only team leader to submit** this Jupyter notebook re-named `Group_Assignment_MQ_ID.ipynb` where MQ_ID is team leader's MQ ID number 
    - The Jupyter notebook must contain team members names/ID numbers, and team name in the competition
    - Provide answers to the 3 Tasks below in the allocated cells including all codes/outputs/writeups 
    - One 15 minute video recording of your work 
        - Each team member to provide a 5 minute presentation of the Task that they led (it is best to jointly record your video using Zoom)
        - When recording your video make sure your face is visible, that you share your Jupyter Notebook and explain everything you've done in the submitted Jupyter notebook on screen
        - 7 marks will be deducted from each Task for which there is no video presentation or if you don't follow the above instructions
        
3. On iLearn each student needs to submit a file with their teammates' names, SID and a mark for their group effort (out of 100%)

---

**Fill out the following information**

For each team member provide name, Student ID number and which task is performed below

- Team Name on Kaggle: `(insert here)`
- Team Leader and Team Member 1: `(insert here)`
- Team Member 2: `(insert here)`
- Team Member 3: `(insert here)`

In [1]:
import pandas as pd 
import numpy as np

---

## Task 1: Problem Description and Initial Data Analysis

1. Read the Competition Overview on Kaggle [https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19](https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19)
2. Referring to Competition Overview and the data provided on Kaggle write about a 500 words **Problem Description** focusing on key points that will need to be addressed as first steps in Tasks 2 and 3 below, using the following headings:
    - Forecasting Problem
    - Evaluation Criteria
    - Types of Variables/Features
    - Data summary and main data characteristics
    - Missing Values (only explain what you found at this stage)
    
Total Marks: 11

In [3]:
#Task 1 code here, insert more cells if required
df_train = pd.read_csv("data/train.csv")
df_train

,ID,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price
0,0,Manly Harbour House,"Beautifully renovated, spacious and quiet, our...",Balgowlah Heights is one of the most prestigio...,Heidi,2009-11-20,"Sydney, New South Wales, Australia",I am a Canadian who has made Australia her hom...,within a few hours,100%,...,4.67,4.33,Exempt,f,2,2,0,0,0.04,$470.00
1,1,Unique Designer Rooftop Apartment in City Loca...,Penthouse living at it best ... You will be st...,The location is really central and there is nu...,Morag,2009-12-03,"Sydney, New South Wales, Australia",I am originally Scottish but I have made Sydne...,within an hour,100%,...,4.70,4.47,PID-STRA-24061-7,t,1,0,1,0,3.21,$82.00
2,2,"Studio Yindi @ Mosman, Sydney","An open plan apartment, which opens onto a spa...","Mosman is a smart, middle to upper class subur...",John,2010-11-06,"Sydney, New South Wales, Australia",Faber est suae quisquae fortunae\r\n\r\nWe bec...,within a few hours,100%,...,4.73,4.68,PID-STRA-6093,f,1,1,0,0,2.23,$150.00
3,3,"2br Eclectic Stylish Home, 2 mins to Bondi Beach","Two blocks to the beach, surf and coffee. Larg...",3 minutes to the beach and cafes. 5 minutes t...,Eilish,2010-11-25,"Bondi Beach, New South Wales, Australia","I'm a designer. I have lived in many cities, c...",within a day,100%,...,4.90,4.32,NaN,f,1,1,0,0,0.25,$245.00
4,4,A little bit of Sydney - Australia,"Hello Everyone,<br /><br />We have a quiet are...",NaN,Bryan,2011-01-03,"Sydney, New South Wales, Australia",We are living in Sydney. We like to see Wine r...,within an hour,100%,...,4.79,4.93,PID-STRA-9081,f,1,0,1,0,0.48,$89.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6995,"Private with double bed, available for couples...",NaN,NaN,Dal Bosco,2016-02-01,"Bondi Beach, New South Wales, Australia",NaN,NaN,NaN,...,3.00,3.00,NaN,f,1,0,1,0,0.03,$55.00
6996,6996,Home with view to park,HI everyone this is a family place where you c...,NaN,Nurys,2018-01-08,"Guayaquil, Guayas, Ecuador",NaN,NaN,NaN,...,4.50,4.50,NaN,t,1,0,1,0,0.07,$45.00
6997,6997,Enormous 3BR Townhouse in Newtown,Entire house for weekend. Guests to use Fabul...,The neighbourhood is vibrant and full of every...,Natasha,2015-04-28,"Sydney, New South Wales, Australia",My name is Tash I am a 30y.o Interior and Ligh...,NaN,NaN,...,5.00,4.50,NaN,f,1,1,0,0,0.03,$255.00
6998,6998,Super Summer in Coogee 3 bedroom apartment,A bright and light filled fully furnished mode...,Coogee is a lively suburb with a beautiful bea...,Joy,2013-10-06,"Sydney, New South Wales, Australia","Hi, my name is Joy and I look forward to welco...",NaN,NaN,...,4.51,4.51,NaN,f,1,1,0,0,0.83,$258.00
6999,6999,"Spacious room,walk to Bondi & surrounding beaches","Our place is close to Bondi, Tamarama & Bronte...",NaN,Gemma,2016-07-24,"Bondi Beach, New South Wales, Australia",NaN,NaN,NaN,...,5.00,4.82,NaN,t,2,0,2,0,0.19,$75.00

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 61 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            7000 non-null   int64
 1   name                                          6999 non-null   object
 2   description                                   6935 non-null   object
 3   neighborhood_overview                         5183 non-null   object
 4   host_name                                     7000 non-null   object
 5   host_since                                    7000 non-null   object
 6   host_location                                 6998 non-null   object
 7   host_about                                    4542 non-null   object
 8   host_response_time                            6355 non-null   object
 9   host_response_rate                            6355 non-null   object
 10  host_acceptance_rate                          6255 non-null   object
 11  host_is_superhost                             7000 non-null   object
 12  host_neighbourhood                            4088 non-null   object
 13  host_listings_count                           7000 non-null   float64
 14  host_verifications                            7000 non-null   object
 15  host_has_profile_pic                          7000 non-null   object
 16  host_identity_verified                        7000 non-null   object
 17  neighbourhood                                 5184 non-null   object
 18  neighbourhood_cleansed                        6892 non-null   object
 19  latitude                                      7000 non-null   float64
 20  longitude                                     7000 non-null   float64
 21  property_type                                 6916 non-null   object
 22  room_type                                     6866 non-null   object
 23  accommodates                                  7000 non-null   int64
 24  bathrooms                                     6994 non-null   object
 25  bedrooms                                      6340 non-null   float64
 26  beds                                          6760 non-null   float64
 27  amenities                                     7000 non-null   object
 28  minimum_nights                                7000 non-null   int64
 29  maximum_nights                                7000 non-null   int64
 30  minimum_minimum_nights                        6955 non-null   float64
 31  maximum_minimum_nights                        7000 non-null   float64
 32  minimum_maximum_nights                        7000 non-null   float64
 33  maximum_maximum_nights                        6955 non-null   float64
 34  minimum_nights_avg_ntm                        7000 non-null   float64
 35  maximum_nights_avg_ntm                        7000 non-null   float64
 36  has_availability                              7000 non-null   object
 37  availability_30                               7000 non-null   int64
 38  availability_60                               7000 non-null   int64
 39  availability_90                               7000 non-null   int64
 40  availability_365                              6953 non-null   float64
 41  number_of_reviews                             7000 non-null   int64
 42  number_of_reviews_ltm                         7000 non-null   int64
 43  number_of_reviews_l30d                        7000 non-null   int64
 44  first_review                                  6886 non-null   object
 45  last_review                                   6886 non-null   object
 46  review_scores_rating                          6886 non-null   float64
 47  review_scores_accuracy                        6790 non-null   float64
 48  review_scores_cleanliness                     6792 non-null   float64
 49  review_scores_checkin                         6791 non-null   float64
 50  review_scores_communication                   6792 non-null   float64
 51  review_scores_location                        6790 non-null   float64
 52  review_scores_value                           6789 non-null   float64
 53  license                                       5132 non-null   object
 54  instant_bookable                              7000 non-null   object
 55  calculated_host_listings_count                7000 non-null   int64
 56  calculated_host_listings_count_entire_homes   7000 non-null   int64
 57  calculated_host_listings_count_private_rooms  7000 non-null   int64
 58  calculated_host_listings_count_shared_rooms   7000 non-null   int64
 59  reviews_per_month                             6886 non-null   float64
 60  price                                         7000 non-null   object
dtypes: float64(20), int64(14), object(27)
memory usage: 3.3+ MB

In [6]:
df_test = pd.read_csv("data/test.csv")
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 60 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            3000 non-null   int64
 1   name                                          2999 non-null   object
 2   description                                   2911 non-null   object
 3   neighborhood_overview                         1760 non-null   object
 4   host_name                                     3000 non-null   object
 5   host_since                                    3000 non-null   object
 6   host_location                                 2998 non-null   object
 7   host_about                                    1568 non-null   object
 8   host_response_time                            466 non-null    object
 9   host_response_rate                            466 non-null    object
 10  host_acceptance_rate                          715 non-null    object
 11  host_is_superhost                             3000 non-null   object
 12  host_neighbourhood                            1737 non-null   object
 13  host_listings_count                           3000 non-null   float64
 14  host_verifications                            3000 non-null   object
 15  host_has_profile_pic                          3000 non-null   object
 16  host_identity_verified                        3000 non-null   object
 17  neighbourhood                                 1760 non-null   object
 18  neighbourhood_cleansed                        2958 non-null   object
 19  latitude                                      3000 non-null   float64
 20  longitude                                     3000 non-null   float64
 21  property_type                                 2961 non-null   object
 22  room_type                                     2959 non-null   object
 23  accommodates                                  3000 non-null   int64
 24  bathrooms                                     2996 non-null   object
 25  bedrooms                                      2822 non-null   float64
 26  beds                                          2871 non-null   float64
 27  amenities                                     3000 non-null   object
 28  minimum_nights                                3000 non-null   int64
 29  maximum_nights                                3000 non-null   int64
 30  minimum_minimum_nights                        2990 non-null   float64
 31  maximum_minimum_nights                        3000 non-null   float64
 32  minimum_maximum_nights                        3000 non-null   float64
 33  maximum_maximum_nights                        2990 non-null   float64
 34  minimum_nights_avg_ntm                        3000 non-null   float64
 35  maximum_nights_avg_ntm                        3000 non-null   float64
 36  has_availability                              3000 non-null   object
 37  availability_30                               3000 non-null   int64
 38  availability_60                               3000 non-null   int64
 39  availability_90                               3000 non-null   int64
 40  availability_365                              2980 non-null   float64
 41  number_of_reviews                             3000 non-null   int64
 42  number_of_reviews_ltm                         3000 non-null   int64
 43  number_of_reviews_l30d                        3000 non-null   int64
 44  first_review                                  2534 non-null   object
 45  last_review                                   2534 non-null   object
 46  review_scores_rating                          2534 non-null   float64
 47  review_scores_accuracy                        2359 non-null   float64
 48  review_scores_cleanliness                     2363 non-null   float64
 49  review_scores_checkin                         2357 non-null   float64
 50  review_scores_communication                   2364 non-null   float64
 51  review_scores_location                        2358 non-null   float64
 52  review_scores_value                           2357 non-null   float64
 53  license                                       607 non-null    object
 54  instant_bookable                              3000 non-null   object
 55  calculated_host_listings_count                3000 non-null   int64
 56  calculated_host_listings_count_entire_homes   3000 non-null   int64
 57  calculated_host_listings_count_private_rooms  3000 non-null   int64
 58  calculated_host_listings_count_shared_rooms   3000 non-null   int64
 59  reviews_per_month                             2534 non-null   float64
dtypes: float64(20), int64(14), object(26)
memory usage: 1.4+ MB

In [9]:
df_all = pd.concat([df_train, df_test], ignore_index = True)
df_all

,ID,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price
0,0,Manly Harbour House,"Beautifully renovated, spacious and quiet, our...",Balgowlah Heights is one of the most prestigio...,Heidi,2009-11-20,"Sydney, New South Wales, Australia",I am a Canadian who has made Australia her hom...,within a few hours,100%,...,4.67,4.33,Exempt,f,2,2,0,0,0.04,$470.00
1,1,Unique Designer Rooftop Apartment in City Loca...,Penthouse living at it best ... You will be st...,The location is really central and there is nu...,Morag,2009-12-03,"Sydney, New South Wales, Australia",I am originally Scottish but I have made Sydne...,within an hour,100%,...,4.70,4.47,PID-STRA-24061-7,t,1,0,1,0,3.21,$82.00
2,2,"Studio Yindi @ Mosman, Sydney","An open plan apartment, which opens onto a spa...","Mosman is a smart, middle to upper class subur...",John,2010-11-06,"Sydney, New South Wales, Australia",Faber est suae quisquae fortunae\r\n\r\nWe bec...,within a few hours,100%,...,4.73,4.68,PID-STRA-6093,f,1,1,0,0,2.23,$150.00
3,3,"2br Eclectic Stylish Home, 2 mins to Bondi Beach","Two blocks to the beach, surf and coffee. Larg...",3 minutes to the beach and cafes. 5 minutes t...,Eilish,2010-11-25,"Bondi Beach, New South Wales, Australia","I'm a designer. I have lived in many cities, c...",within a day,100%,...,4.90,4.32,NaN,f,1,1,0,0,0.25,$245.00
4,4,A little bit of Sydney - Australia,"Hello Everyone,<br /><br />We have a quiet are...",NaN,Bryan,2011-01-03,"Sydney, New South Wales, Australia",We are living in Sydney. We like to see Wine r...,within an hour,100%,...,4.79,4.93,PID-STRA-9081,f,1,0,1,0,0.48,$89.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Gorgeous terrace place in the heart of city.,Immaculate terrace place walking distance to c...,"My place is close to Oxford street, central st...",Welyton,2015-09-02,AU,"Easy going, and down-to-earth person. Don’t li...",NaN,NaN,...,5.00,4.33,NaN,f,1,0,1,0,0.07,NaN
9996,9996,Seaforth Boheme,Plunge into the carefree elegance of this cont...,NaN,Luxico Holiday Homes,2014-02-03,Australia,Why stay in a hotel when you can enjoy the spa...,within a few hours,100%,...,NaN,NaN,NaN,f,34,34,0,0,NaN,NaN
9997,9997,Manly Harbour View,"The apartment has 2 bedrooms, the master bedro...","This is Manly, where everything is easily acce...",Laura,2016-05-14,"New South Wales, Australia",NaN,NaN,NaN,...,5.00,4.33,NaN,f,1,1,0,0,0.13,NaN
9998,9998,"Prefectly located in CBD, mins to darling harbor","Sydney's newest iconic address, situated in th...","Locals, uni student and nice people.",Home ~ Sweet Home,2019-11-01,"Sydney, New South Wales, Australia",Our homes are filled with love and design. \nW...,NaN,NaN,...,4.94,4.44,NaN,t,3,3,0,0,0.68,NaN
9999,9999,Modern and sunny apartment in Bondi Beach,"Our pad is located in the heart of Bondi, just...","The place is located in the heart of Bondi, al...",Steven,2013-12-17,"New York, New York, United States","Originally from France, I've lived in Canada, ...",NaN,NaN,...,5.00,5.00,NaN,f,2,1,1,0,0.02,NaN

In [10]:
y_train = df_train['price']
X_train = df_train[['calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms' ]]

In [ ]:
from

---

## Task 2: Data Cleaning, Missing Observations and Feature Engineering
- In this task you will follow a set of instructions/questions listed below.
- Make sure you **explain** each step you do both in Markdown text and on your video.
    - Do not just read out your commands without exaplaining what they do and why you used them 

Total Marks: 11

**Task 2, Question 1**: Clean **all** numerical features and the target variable `price` so that they can be used in training algorithms. For instance, `host_response_rate` feature is in object format containing both numerical values and text. Extract numerical values (or equivalently eliminate the text) so that the numerical values can be used as a regular feature.  
(2 marks)

In [11]:
## Task 2, Question 1 Code Here

`(Task 2, Question 1 Text Here - insert more cells as required)`

**Task 2, Question 2** Create at least 4 new features from existing features which contain multiple items of information, e.g. creating `email`,  `phone`, `reviews`, `jumio`, etc. from feature `host_verifications`.  
(2 marks)

In [12]:
## Task 2, Question 2 Code Here

`(Task 2, Question 2 Text Here - insert more cells as required)`

**Task 2, Question 3**: Impute missing values for all features in both training and test datasets.   
(2 marks)

In [13]:
## Task 2, Question 3 Code Here

`(Task 2, Question 3 Text Here - insert more cells as required)`

**Task 2, Question 4**: Encode all categorical variables appropriately as discussed in class. 


Where a categorical feature contains more than 5 unique values, map the features into 5 most frequent values + 'other' and then encode appropriately. For instance, you could group then map `property_type` into 5 basic types + 'other': [entire rental unit, private room, entire room, entire towehouse, shared room, other] and then encode.  
(2 marks)

In [14]:
## Task 2, Question 4 Code Here

`(Task 2, Question 4 Text Here - insert more cells as required)`

**Task 2, Question 5**: Perform any other actions you think need to be done on the data before constructing predictive models, and clearly explain what you have done.   
(1 marks)

In [15]:
## Task 2, Question 5 Code Here

`(Task 2, Question 5 Text Here - insert more cells as required)`

**Task 2, Question 6**: Perform exploratory data analysis to measure the relationship between the features and the target and write up your findings. 
(2 marks)

In [16]:
## Task 2, Question 6 Code Here

`(Task 2, Question 6 Text Here - insert more cells as required)`

--- 
## Task 3: Fit and tune a forecasting model/Submit predictions/Report score and ranking

Make sure you **clearly explain each step** you do, both in text and on the recoded video.

1. Build a machine learning (ML) regression model taking into account the outcomes of Tasks 1 & 2
2. Fit the model and tune hyperparameters via cross-validation: make sure you comment and explain each step clearly
3. Create predictions using the test dataset and submit your predictions on Kaggle's competition page
4. Provide Kaggle ranking and **score** (screenshot your best submission) and comment
5. Make sure your Python code works, so that a marker that can replicate your all of your results and obtain the same MSE from Kaggle

- Hint: to perform well you will need to iterate Task 3, building and tuning various models in order to find the best one.

Total Marks: 11

In [10]:
#Task 3 code here

`(Task 3 - insert more cells as required)`